.gfont{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Iso', cursive;
}

.link a{
   margin-right: 20px;
}

.color{
    background-color: aquamarine;
    padding: 5px;
}